In [2]:
import MySQLdb
import numpy as np
import csv
import pandas as pd 
from pandas.io import sql
from sqlalchemy import create_engine
import pymysql
data = pd.read_csv('all_food_data.csv')
df = data.T.drop_duplicates().T
df.columns = ['code', 'url', 'product_name', 'brands', 'countries',
       'ingredients_text', 'energy_100g', 'fat_100g', 'saturated_fat_100g',
       'sugars_100g', 'salt_100g', 'sodium_100g', 'fiber_100g',
       'proteins_100g', 'nutrition_score_fr_100g', 'calories',
       'Food_item_score']
df.drop(df[df['countries'] == 'MÃ©xico'].index, inplace=True);
df.drop(df[df['countries'] == 'United Kingdom'].index, inplace=True);
df.drop(df[df['countries'] == 'France'].index, inplace=True);
df.drop(df[df['countries'] == 'en:FR, US'].index, inplace=True);
df.to_csv("all_food_data_clean.csv", index = False)
with open ('all_food_data_clean.csv', encoding = "gb18030", errors = "ignore") as f:
    tbl_name = "foodtbl"
    reader = csv.reader(f)
    db = MySQLdb.connect("localhost", "root", "", "fooddb")
    tablechk = db.cursor()
    tablechk.execute("DROP table if exists foodtbl")
    columns  = next(reader)
    query = "CREATE TABLE " + tbl_name + "(" + columns[0] + " INT" #columns[0]: heading
    for head in columns[1:]:
        #columns[1]: rest of the headings
        query+= ", " + head + " TEXT" 
    query += ");"
    tablechk.execute(query)
    db.close()
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="",
                               db="fooddb"))
df.to_sql(con=engine, name='foodtbl', if_exists='replace')

26356